RULE 1 - The Java compiler automatically adds a constructor that takes no argument and has the same access as the class, 
if and only if the programmer does not define ANY constructor in the class.

